@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Endpoints
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Nook.styles.css"]" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <link rel="stylesheet" href="@Assets["css/nook-tokens.css"]" />
    <ImportMap AdditionalImportMapDefinition="EditorImportMap" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@PageRenderMode" />
</head>

<body>
    <Routes @rendermode="@PageRenderMode" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="js/nookryptex.js"></script>
</body>

</html>

@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;

    private static readonly ImportMapDefinition EditorImportMap = new(
        new Dictionary<string, string>
        {
            ["nook-editor"] = "/lib/editor/nook-editor.JKW3RB33.js"
        },
        scopes: null,
        integrity: null);
}
